@model IEnumerable<TestExercise.ViewModels.Catalogs.FengShuiNumberVm>

<h1>Feng shui number</h1>
<p>
    <a asp-action="Index">Find feng shui</a>
</p>
<table class="table">
    <thead>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Id)</td>
            <th>
                Operator
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                Nice pair
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                <td>@Html.DisplayFor(modelItem => item.Operator.ProviderName)</td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastNum)
                </td>
            </tr>
        }
    </tbody>
</table>